.node
{
    stroke: #fff;
    stroke-width: 1.5px;
}

.node:hover
{
    stroke: #000;
    stroke-width: 1.5px;
}

.option, .box, .legend, .node-file, .dist-file
{
    cursor: default;
}

.box
{
    stroke: #fff;
    stroke-width: 1.5px;
}

div.tooltip
{
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-index: 10;
}

#d3graph
{
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 0;
}

#search {
    position: absolute;
    left: 50px;
    top: 550px;
    width: 400px;
    z-index: 10; 
}

#structureViewer
{
    position: absolute;
    top: 55px;
    left: 700px;
    width: 500px;
    z-index: 0;
}

#superimpose
{
    position: absolute;
    z-index: 5;
    left: 20px;
    top: 20px;
}

#structureStyle
{
    position: absolute;
    z-index: 5;
    left: 150px;
    top: 20px;
}

.legendSvg
{
    position: absolute;
    top: 20px;
    left: 400px;
}

#sequenceViewer
{
    position: absolute;
    top: 520px;
    left: 700px;
    z-index: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.letter {
    text-anchor: middle;
    cursor: default;
}

.hover line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    opacity: 0.3;
}

.position {
    font-family: sans-serif;
    font-size: 11px;   
}

.loupe text {
    text-anchor: middle;
    cursor: default;
}

.blinking {
    fill: none;
    stroke: red;
    stroke-width: 4px;
}
