<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="lib/favicon_biohazard.ico">

    <title>3DFlu - database and exploration</title>

    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="lib/sticky-footer-navbar.css" rel="stylesheet">

    <script src="lib/d3.v3.min.js" charset="utf-8"></script>
    <script src="lib/lodash.min.js" charset="utf-8"></script>
    <script src="js/search.js" charset="utf-8"></script>

  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">3DFlu</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="search.html">Search</a></li>
            <li><a href="exploration.html">Exploration</a></li>
            <li><a href="dataset.html">Dataset</a></li>
            <li><a href="authors.html">Authors</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <p class="lead">Search influenza proteins</p>
      <p>Search data. You can use any fields.</p>
      <input id="search" type="text" class="form-control" placeholder="for example: H3 avian">

      <br>
      <span id="foundCount"></span>

      <table class="table table-condensed" id="resultTable">
        <thead>
          <th>Id</th>
          <th>Serotype</th>
          <th>Host</th>
          <th>Location</th>
          <th>Continent</th>
          <th>Year</th>
          <th>Template</th>
          <th>Database</th>
          <th>Download</th>
        </thead>
        <tbody><script id="tableContent" type="text/template">
          <tr>
            <td><%= p_id %></td>
            <td><%= subtype %></td>
            <td><%= host %></td>
            <td><%= location %></td>
            <td><%= continent %></td>
            <td><%= year %></td>
            <td><%= template_id %></td>
            <td><%= database %></td>
            <td>
              <a href='pdb/<%= database %>s/<%= p_id %>.pdb'>pdb</a>
              <a href='dx/<%= database %>s/<%= p_id %>.dx'>dx</a>
              <a href='fas/<%= database %>s/<%= p_id %>.fas'>fas</a>
            </td>
          </tr>
        </script></tbody>
      </table>

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted"><b>3DFlu</b> - database and exploration of hemagglutinin proteins of influenza virus type A; developed at CeNT, University of Warsaw</p>
      </div>
    </footer>

  </body>
</html>